<section class="cart">
    <div class="container-fluid">
      <div class="cart-container">
      <div class="row mt-1 align-items-center">
         <div class="col-md-3">
          <a class="link" href="#"> Back to products </a>
         </div>
         <div class="col-md-6 text-center"> <h6>Your Order</h6> </div>
         <div class="col-md-3 text-right"> <a class="link" href="#"> Remove all</a> </div>
      </div>
      <hr>
      <div class="suggested-prod">
        <h3 class="text-center mb-2">Suggested products</h3>
        <div class="swiper-container mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
<div class="card">
<div class="cart-prod-img d-flex">
  <img class="m-auto img-fluid" src="https://cdn.instashop.ae/7f895262-c435-46e4-914e-336ec886c093_thumb_lg_ltdno8cxgu8jr5uq5mi_1007120401.jpg">
  </div>
  <button class="add-btn btn"> ADD </button>
</div>
      </div>
      <div class="swiper-slide">
<div class="card">
<div class="cart-prod-img d-flex">
  <img class="m-auto img-fluid" src="https://cdn.instashop.ae/2a7de9ee-6655-4c26-b290-c64621106961_resized_thumbnail_largea2bb7e18-d1c1-41f3-bb52-d2bb419cdf01_tfss-06fa420e-9394-484a-932b-8b2e10b3b80e-Unknown3.jpg">
  </div>
  <button class="add-btn btn"> ADD </button>
</div>

      </div>
      <div class="swiper-slide">
<div class="card">
<div class="cart-prod-img d-flex">
  <img class="m-auto img-fluid" src="https://cdn.instashop.ae/1b76f7eb-2413-4888-9705-bad2aa040665_resized_thumbnail_large5b9a9893-4b17-469e-9c35-1f3405ecbf2e_tfss-fbcf2a8a-629a-4eaa-a134-7b6ef37ee887-banana_6_pieces.jpg">
  </div>
  <button class="add-btn btn"> ADD </button>
</div>
      </div>
      <div class="swiper-slide">
        <div class="card">
<div class="cart-prod-img d-flex">
  <img class="m-auto img-fluid" src="https://cdn.instashop.ae/89d68bdc-d2f4-4b49-81b6-7df04413610a_thumbnail_large__source_1ce0f015-2d4d-4d83-a86e-fd16600d4e50_lettuce.jpg">
  </div>
  <button class="add-btn btn"> ADD </button>
</div>
      </div>
      <div class="swiper-slide">
        <div class="card">
<div class="cart-prod-img d-flex">
  <img class="m-auto img-fluid" src="https://cdn.instashop.ae/7df8d0d4-3456-4094-8d86-da03148c7e14_resized_thumbnail_large71a5d4f6-1ee8-4518-8d7b-524214852fa0_tfss-0c5a1bd5-773a-4dc1-8b6d-437ded34c574-green-chili-india.jpg">
  </div>
  <button class="add-btn btn"> ADD </button>
</div>
      </div>
      <div class="swiper-slide">
        <div class="card">
<div class="cart-prod-img d-flex">
  <img class="m-auto img-fluid" src="https://cdn.instashop.ae/15f018c3-3b66-4fa7-8e43-c8853e2d8d716c970258-6eba-488b-a4d6-1cfb8f15b1fb.jpg">
  </div>
  <button class="add-btn btn"> ADD </button>
</div>
      </div>
      <div class="swiper-slide">
        <div class="card">
<div class="cart-prod-img d-flex">
  <img class="m-auto img-fluid" src="https://cdn.instashop.ae/4d90e26c-71da-45b7-b63b-decf24ffbd1ba5e10dd7-877d-4ee7-a351-f726ccae744a.jpg">
  </div>
  <button class="add-btn btn"> ADD </button>
</div>
      </div>
      <div class="swiper-slide">
        <div class="card">
<div class="cart-prod-img d-flex">
  <img class="m-auto img-fluid" src="https://cdn.instashop.ae/08b951e2-f392-4234-a7f6-fa62ff1da501a8436c68a2e61c914f89fd81ceb3e3e0_2ae70b2847e3e9de5c7d250927bf5519_567e3d593df857d4498a5593881e9823_eb59d84ad11014e659d854e5623377ed_apples_gala_4_per_pack.jpeg">
  </div>
  <button class="add-btn btn"> ADD </button>
</div>
      </div>
      <div class="swiper-slide">
        <div class="card">
<div class="cart-prod-img d-flex">
  <img class="m-auto img-fluid" src="https://cdn.instashop.ae/fe0c4790-9a6a-4896-9049-a03f972ee0aa9a7945b4f874fc46daca50d5fcc8525f_parota.jpg">
  </div>
  <button class="add-btn btn"> ADD </button>
</div>
      </div>

<div class="swiper-slide">
        <div class="card">
<div class="cart-prod-img d-flex">
  <img class="m-auto img-fluid" src="https://cdn.instashop.ae/8a70eced-6e25-456e-abfc-8f7ce84b078a_thumb_lg_l6be1zgspa3z4u0udi__src_b0289a6a-16c0-4a19-bd01-9d12ccb46c50_garlic_.jpg">
  </div>
  <button class="add-btn btn"> ADD </button>
</div>
      </div>

      <div class="swiper-slide">
        <div class="card">
<div class="cart-prod-img d-flex">
  <img class="m-auto img-fluid" src="https://cdn.instashop.ae/191a2729-3611-4234-ae48-96e54f9449bd_resized_thumbnail_large7a85b448-baf4-4739-8fc5-ad94f41cec86_tfss-4c71ba73-2292-4d05-b686-e3fb90d5e869-curry-leves.jpg">
  </div>
  <button class="add-btn btn"> ADD </button>
</div>
      </div>

      <div class="swiper-slide">
        <div class="card">
<div class="cart-prod-img d-flex">
  <img class="m-auto img-fluid" src="https://cdn.instashop.ae/09ac45c4-c396-4102-9a85-7217f1e2ce73_thumb_lg_cgjdsm6a53ggyqr529_rry_tomato_pack.jpg">
  </div>
  <button class="add-btn btn"> ADD </button>
</div>
      </div>

      <div class="swiper-slide">
        <div class="card">
<div class="cart-prod-img d-flex">
  <img class="m-auto img-fluid" src="https://cdn.instashop.ae/8e9a905c06898b26cafe25a23ac20f2d_thumb_lg_hhh1qdwididcjif6r__src_97d6a965b6e3b855827ee23162c76b22_spring_onion.jpg">
  </div>
  <button class="add-btn btn"> ADD </button>
</div>
      </div>

      <div class="swiper-slide">
        <div class="card">
<div class="cart-prod-img d-flex">
  <img class="m-auto img-fluid" src="https://cdn.instashop.ae/cdeb263b-c544-4013-98ae-5349733e7a39_resized_thumbnail_largea1c6753f-95ca-403c-a2a5-050980cf2e80_tfss-76f8344d-5b64-4188-968a-b332ad782951-ginger_.jpg">
  </div>
  <button class="add-btn btn"> ADD </button>
</div>
      </div>

      <div class="swiper-slide">
        <div class="card">
<div class="cart-prod-img d-flex">
  <img class="m-auto img-fluid" src="https://cdn.instashop.ae/9f0ed3a4-497e-4d44-b81f-d2b0edfd3eaa_thumbnail_large_sh_Spinach_Cyprus.jpg">
  </div>
  <button class="add-btn btn"> ADD </button>
</div>
      </div>

      <div class="swiper-slide">
        <div class="card">
<div class="cart-prod-img d-flex">
  <img class="m-auto img-fluid" src="https://cdn.instashop.ae/e994a02f-e8a9-4086-bedd-f4d4e34fc914_thumb_lg_nys8jw0peli61mfpf1or__src_5c3ed8ed-860f-466d-935f-dae257fba732_okra.jpg">
  </div>
  <button class="add-btn btn"> ADD </button>
</div>
      </div>

      <div class="swiper-slide">
        <div class="card">
<div class="cart-prod-img d-flex">
  <img class="m-auto img-fluid" src="https://cdn.instashop.ae/4dfd1b03-3192-4211-9711-6979c1a5e668_thumb_lg_1cut22q7lkre7ory66r_liflower.jpg">
  </div>
  <button class="add-btn btn"> ADD </button>
</div>
      </div>

      <div class="swiper-slide">
        <div class="card">
<div class="cart-prod-img d-flex">
  <img class="m-auto img-fluid" src="https://cdn.instashop.ae/e5a9a3dddf3da2e43147798b09bc9650_thumb_lg_tn228cjtmfx8yqfr__src_acc873c3dc0c3826e3bda8395f091717_5053990107384.jpg">
  </div>
  <button class="add-btn btn"> ADD </button>
</div>
      </div>

    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
      </div>
      <hr class="mt-3">
      <div class="cart-prods">
        <div class="row">
          <div class="col-md-11">
            <div class="media">
              <div class="prod-img d-flex">
<img class="m-0 img-fluid" src="https://cdn.instashop.ae/b1d0969c-04b5-4a3f-b780-7e434f943419_thumb_lg_k3st2hinyjjpbtn8kt9_atoes_.jpg" alt="Tomatoes">
</div>
<div class="media-body">
  <h5 class="mt-2">Tomatoes</h5>
  <div class="packaging"><span>500 gr</span></div>
  <div class="price-container">
    <div class="quantity"><span>1 units x AED 2.15</span></div>
    <div class="price"><span>AED 2.15</span></div>
  </div>
</div>
</div>

          </div>
          <div class="col-md-1">
             <a class="cart-action-btn mb-4" href="#"> <i class="fas fa-plus"></i> </a>
            <a class="cart-action-btn" href="#"> <i class="fas fa-minus"></i> </a>
           

</div>
        </div>
      </div>
      <hr>
      <div class="cart-prods">
        <div class="row">
          <div class="col-md-11">
            <div class="media">
              <div class="prod-img d-flex">
<img class="m-0 img-fluid" src="https://cdn.instashop.ae/5470588c-11fb-456f-8701-20bc6822bb8e_resized_thumbnail_large4389844f-921b-4d74-a1f9-86a8f3376855_tfss-e9ba8ef1-1bcf-44a3-9092-1ef722a294c3-Potato.jpg" alt="Tomatoes">
</div>
<div class="media-body">
  <h5 class="mt-2">Potatoes</h5>
  <div class="packaging"><span>500 gr</span></div>
  <div class="price-container">
    <div class="quantity"><span>1 units x AED 2.25</span></div>
    <div class="price"><span>AED 2.25</span></div>
  </div>
</div>
</div>

          </div>
          <div class="col-md-1">
             <a class="cart-action-btn mb-4" href="#"> <i class="fas fa-plus"></i> </a>
            <a class="cart-action-btn" href="#"> <i class="fas fa-minus"></i> </a>
           

</div>
        </div>
      </div>
<hr>
<div class="cart-prods">
        <div class="row">
          <div class="col-md-11">
            <div class="media">
              <div class="prod-img d-flex">
<img class="m-0 img-fluid" src="https://cdn.instashop.ae/7c2eae52-6f7d-48b2-a6a3-027c44a53dba8e6bb9bc46e934a7de7f56d23e6498a7_coriander_1_bunch.jpg" alt="Tomatoes">
</div>
<div class="media-body">
  <h5 class="mt-2">Fresh Coriander</h5>
  <div class="packaging"><span>1 pack</span></div>
  <div class="price-container">
    <div class="quantity"><span>1 units x AED 1.5</span></div>
    <div class="price"><span>AED 1.5</span></div>
  </div>
</div>
</div>

          </div>
          <div class="col-md-1">
             <a class="cart-action-btn mb-4" href="#"> <i class="fas fa-plus"></i> </a>
            <a class="cart-action-btn" href="#"> <i class="fas fa-minus"></i> </a>
           

</div>
        </div>
      </div>

      </div>
      <div class="cart-sum">

        <div class="alert-box">
          <span class="ngb-alert alert">28 AED needed to reach minimum order value.</span>
          <span class="esti-time">
            <span class="big-text">75</span>
            <span class="sm-text mt-2">mins</span>
          </span>
        </div>
<div class="row">
      <div class="col-6 col-xs-6 col-md-8">
        <div class="order-now"><span class="pr-2 total-price ng-star-inserted">AED 7.9 <span class="pl-2 charges d-none d-md-inline ng-star-inserted">incl. VAT &amp; 5.75 AED service fee</span>
        <span class="charges d-xs-inline d-sm-inline d-md-none d-lg-none d-xl-none ng-star-inserted">incl. VAT</span>
      </span>
      </div>
    </div>

      <div class="col-12 col-md-4 textArea-section">
        <textarea rows="1" class="form-control" placeholder="Add note to your order"></textarea>
     
      </div>
    </div>
      <div class="row">
      <div class="col-7 col-md-8 order-now padding-no">
        <button class="order-now-btn btn instashop-bg order-button" data-toggle="modal" data-target="#orderNowmodl">
          <span>ORDER NOW</span>
        </button>
      </div>





      <div class="col-5 col-md-4 schedule padding-no"><button class="schedule-btn btn order-button">SCHEDULE</button></div>
    </div>
  </div>
    </div>
    

    
  </section>
  
          
  <!-- order now modal popup         -->

  <div class="modal fade" id="orderNowmodl" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-dialog modal-lg">
  <div class="modal-content cart-modal-content text-dark">
    <div class="modal-header text-center">
      <h5 class="modal-title w-100 text-center" id="exampleModalLabel">Enter your phone number</h5>
      
    </div>
    <div class="modal-body py-5">
     <form>
<div class="row">
  <div class="col">
    <label class="country-text" for="">Select your country code</label>
   <select class="custom-select mr-sm-2" id="inlineFormCustomSelectPref">
  <option selected>United Arab Emirates (+971)</option>
  <option value="Afghanistan (+93)">Afghanistan (+93)</option>
  <option value="Aland Islands (+358)">Aland Islands (+358)</option>
  <option value="Albania (+355)">Albania (+355)</option>
   <option value="Algeria (+213))">Algeria (+213)</option>
  <option value="AmericanSamoa (+1684)">AmericanSamoa (+1684)</option>
  <option value="Angola (+244)">Angola (+244)</option>
</select>
  </div>
  <div class="col">
    <input type="text" id="mobileNum" class="form-control mt-4" placeholder="Enter your mobile number">
  </div>
</div>
</form>
    </div>
    <div class="modal-footer">
      <div class="col-md-6">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
      
      </div>
      <div class="col-md-6 text-right">
             <button type="button" class="btn btn-danger btn-instashop ">Send confirmation code</button>
      </div>
    </div>
  </div>
</div>
</div>
